PORT=3000
DATABASE_URL=postgresql://postgres:zhyar9991@localhost:5432/alvichome
# DATABASE_URL=postgresql://alvic:jkC3qd8U0SlVzf3ZFppW0eWTDKKhcEq0@dpg-d6rfudshg0os73a8agqg-a.frankfurt-postgres.render.com/alvichome?sslmode=require
NODE_ENV=development
JWT_SECRET=generate_a_very_long_random_secret_key_using_crypto_module
